{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <body>
        <div class="container input-group search">
            <input type="text" class="form-control" placeholder="Введите название файла" aria-label="Введите название файла" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="button">Искать</button>
            </div>
        </div>

        <!-- Карточка предмета -->
        <div class="container">
            <div class="row">
                <div class="col-3 facultet">
                    <div class="card text-white">
                        <img class="card-img" src=" {% static 'img/iu.jpg' %}" alt="Card image cap">
                        <div class="card-img-overlay">
                            <a href="/storage"><h5 class="card-title">Информационное управление</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-3 facultet">
                    <div class="card text-white">
                        <img class="card-img" src="{% static 'img/fn.jpg' %}" alt="Card image cap">
                        <div class="card-img-overlay">
                            <a href="/storage"><h5 class="card-title">Фундаментальные науки</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-3 facultet">
                    <div class="card text-white">
                        <img class="card-img" src="{% static 'img/sm.png' %}" alt="Card image cap">
                        <div class="card-img-overlay">
                            <a href="/storage"><h5 class="card-title">Специальное машиностроение</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-3 facultet">
                    <div class="card text-white">
                        <img class="card-img" src="{% static 'img/mt.jpg' %}" alt="Card image cap">
                        <div class="card-img-overlay">
                            <a href="/storage"><h5 class="card-title">Машиностроительные технологии</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-3 facultet">
                    <div class="card text-white">
                        <img class="card-img" src="{% static 'img/ibm.jpg' %}" alt="Card image cap">
                        <div class="card-img-overlay">
                            <a href="/storage"><h5 class="card-title">Инновационный бизнес и менеджмент</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-3 facultet">
                    <div class="card text-white">
                        <img class="card-img" src="{% static 'img/e.jpg' %}" alt="Card image cap">
                        <div class="card-img-overlay">
                            <a href="/storage"><h5 class="card-title">Энергомашиностроение</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-3 facultet">
                    <div class="card text-white">
                        <img class="card-img" src="{% static 'img/rl.jpg' %}" alt="Card image cap">
                        <div class="card-img-overlay">
                            <a href="/storage"><h5 class="card-title">Радиоэлектроника и лазерная техника</h5></a>
                        </div>
                    </div>
                </div>
                <div class="col-3 facultet">
                    <div class="card text-white">
                        <img class="card-img" src="{% static 'img/rk.jpg' %}" alt="Card image cap">
                        <div class="card-img-overlay">
                            <a href="/storage"><h5 class="card-title">Робототехника и комплексная автоматизация</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}