{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<body class="bg-white">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Регистрация</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">Имя</label>
                <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Введите имя">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Фамилия</label>
                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Введите фамилию">
              </div>
            </div>
          </div>

           <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputEmail1">E-mail</label>
                <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Введите e-mail">
              </div>

              <div class="col-md-6">
                <label for="exampleInputRole">Должность</label>
                <select class="custom-select">
                    <option selected>Выберите свой статус</option>
                    <option value="1">Студент</option>
                    <option value="2">Преподаватель</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Пароль</label>
                <input class="form-control" id="exampleInputPassword1" type="password" placeholder="Пароль">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Повторите пароль</label>
                <input class="form-control" id="exampleConfirmPassword" type="password" placeholder="Повторите пароль">
              </div>
            </div>
          </div>
          <a class="btn btn-primary btn-block" href="/home">Регистрация</a>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="/login">Форма авторизация</a>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}