{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-6 facultet">
				<div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Кафедра</h5>
                    </div>
                    <div>
                        <ul class="list-group">
                            <li class="list-group-item">ИУ-1</li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">ИУ-2</li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">ИУ-3</li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">ИУ-4</li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item active">ИУ-5</li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">ИУ-6</li>
                        </ul>
					</div>
				</div>
			</div>
            <div class="col-6 facultet">
				<div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Учебная дисциплина</h5>
                    </div>
					<div>
                        <ul class="list-group">
                            <li class="list-group-item active">Предмет 1</li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">Предмет 2</li>
                        </ul>
                        <ul class="list-group">
                            <li class="list-group-item">Предмет 3</li>
                        </ul>
					</div>
				</div>
			</div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="btn btn-primary" href="/files" role="button">Перейти</a>
            </div>
        </div>
    </div>

{% endblock %}