{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-3 facultet">
				<div class="card">
                    <div class="card-header">
                        <h6 class="card-title">{{ filename }}</h6>
                    </div>
					<div class="card-body">
						<p class="card-text">{{ cafedra }} / {{ lesson }}</p>
                        <p>Источник: {Имя Фамилия преподавателя}</p>
                        <p>Дата добавления: {дата добавления файла}</p>
						<a href="#" class="btn btn-outline-danger">Удалить из &star;</a>
                        <br><br>
                        <a href="#" class="btn btn-outline-primary">Скачать</a>
					</div>
				</div>
			</div>
            <div class="col-3 facultet">
				<div class="card">
                    <div class="card-header">
                        <h6 class="card-title">{{ filename }}</h6>
                    </div>
					<div class="card-body">
						<p class="card-text">{{ cafedra }} / {{ lesson }}</p>
                        <p>Источник: {Имя Фамилия преподавателя}</p>
                        <p>Дата добавления: {дата добавления файла}</p>
						<a href="#" class="btn btn-outline-danger">Удалить из &star;</a>
                        <br><br>
                        <a href="#" class="btn btn-outline-primary">Скачать</a>
					</div>
				</div>
			</div>
            <div class="col-3 facultet">
				<div class="card">
                    <div class="card-header">
                        <h6 class="card-title">{{ filename }}</h6>
                    </div>
					<div class="card-body">
						<p class="card-text">{{ cafedra }} / {{ lesson }}</p>
                        <p>Источник: {Имя Фамилия преподавателя}</p>
                        <p>Дата добавления: {дата добавления файла}</p>
						<a href="#" class="btn btn-outline-danger">Удалить из &star;</a>
                        <br><br>
                        <a href="#" class="btn btn-outline-primary">Скачать</a>
					</div>
				</div>
			</div>
            <div class="col-3 facultet">
				<div class="card">
                    <div class="card-header">
                        <h6 class="card-title">{{ filename }}</h6>
                    </div>
					<div class="card-body">
						<p class="card-text">{{ cafedra }} / {{ lesson }}</p>
                        <p>Источник: {Имя Фамилия преподавателя}</p>
                        <p>Дата добавления: {дата добавления файла}</p>
						<a href="#" class="btn btn-outline-danger">Удалить из &star;</a>
                        <br><br>
                        <a href="#" class="btn btn-outline-primary">Скачать</a>
					</div>
				</div>
			</div>
            <div class="col-3 facultet">
				<div class="card">
                    <div class="card-header">
                        <h6 class="card-title">{{ filename }}</h6>
                    </div>
					<div class="card-body">
						<p class="card-text">{{ cafedra }} / {{ lesson }}</p>
                        <p>Источник: {Имя Фамилия преподавателя}</p>
                        <p>Дата добавления: {дата добавления файла}</p>
						<a href="#" class="btn btn-outline-danger">Удалить из &star;</a>
                        <br><br>
                        <a href="#" class="btn btn-outline-primary">Скачать</a>
					</div>
				</div>
			</div>
            <div class="col-3 facultet">
				<div class="card">
                    <div class="card-header">
                        <h6 class="card-title">{{ filename }}</h6>
                    </div>
					<div class="card-body">
						<p class="card-text">{{ cafedra }} / {{ lesson }}</p>
                        <p>Источник: {Имя Фамилия преподавателя}</p>
                        <p>Дата добавления: {дата добавления файла}</p>
						<a href="#" class="btn btn-outline-danger">Удалить из &star;</a>
                        <br><br>
                        <a href="#" class="btn btn-outline-primary">Скачать</a>
					</div>
				</div>
			</div>
            <div class="col-3 facultet">
				<div class="card">
                    <div class="card-header">
                        <h6 class="card-title">{{ filename }}</h6>
                    </div>
					<div class="card-body">
						<p class="card-text">{{ cafedra }} / {{ lesson }}</p>
                        <p>Источник: {Имя Фамилия преподавателя}</p>
                        <p>Дата добавления: {дата добавления файла}</p>
						<a href="#" class="btn btn-outline-danger">Удалить из &star;</a>
                        <br><br>
                        <a href="#" class="btn btn-outline-primary">Скачать</a>
					</div>
				</div>
			</div>
            <div class="col-3 facultet">
				<div class="card">
                    <div class="card-header">
                        <h6 class="card-title">{{ filename }}</h6>
                    </div>
					<div class="card-body">
						<p class="card-text">{{ cafedra }} / {{ lesson }}</p>
                        <p>Источник: {Имя Фамилия преподавателя}</p>
                        <p>Дата добавления: {дата добавления файла}</p>
						<a href="#" class="btn btn-outline-danger">Удалить из &star;</a>
                        <br><br>
                        <a href="#" class="btn btn-outline-primary">Скачать</a>
					</div>
				</div>
			</div>
        </div>
    </div>

{% endblock %}