{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="container bott">
        <div class="row">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">{{ object.specialization.department }}</li>
                    <li class="breadcrumb-item">{{ object.specialization }}</li>
                    <li class="breadcrumb-item">{{ object.title }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
        {% if document_list %}
            {% for object in document_list %}
                {% include 'inc/document.html' %}
            {% endfor %}
        {% else %}
            <div class="col-12">
                <h4>К сожалению здесь ещё нет материалов. Попробуйте ппросмотреть другой предмет.</h4>
            </div>
        {% endif %}
        </div>

    </div>
{% endblock %}