{% extends "base.html" %}
{% load staticfiles %}
{% block content %}


<body class="bg-white">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Загрузка файла</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Название файла</label>
            <input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Введите название файла">
          </div>
          <div class="form-group">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Тип файла</label>
            <select class="custom-select">
                <option selected>Выберите тип файла</option>
                <option value>Шаблон работы</option>
                <option value>Методичекие указания</option>
                <option value>Видеофайл</option>
                <option value>Домашнее задание</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Факультет</label>
            <select class="custom-select">
                <option selected>Выберите факультет</option>
                <option value>ИУ</option>
                <option value>МТ</option>
                <option value>СМ</option>
                <option value>Э</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Кафедра</label>
            <select class="custom-select">
                <option selected>Выберите кафедру</option>
                <option value>ИУ-1</option>
                <option value>ИУ-2</option>
                <option value>ИУ-3</option>
                <option value>ИУ-4</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Учебная дисциплина</label>
            <select class="custom-select">
                <option selected>Выберите учебную дисциплину</option>
                <option value>Математический анализ</option>
                <option value>Дискретная алгебра</option>
            </select>
          </div>
          <a class="btn btn-primary btn-block" href="/home">Загрузить</a>
        </form>
      </div>
    </div>
  </div>
    <div class="container bott">
        <div class="row">
            <div class="col-12">
                <h4>Файл успешно загружен загружен.</h4>
            </div>
        </div>
    </div>
</body>

{% endblock %}