{% extends "base.html" %}
{% load staticfiles app_extra %}
{% block content %}

    {% include 'inc/search.html' %}
    {% type_choice %}

    <div class="container bott">
        <div class="row">
        {% if object_list %}
            {% if query %}
            <div class="col-12">
                <h4>Результаты поиска по разпросу "{{ query }}":</h4>
            </div>
            {% endif %}
            {% for object in object_list %}
                {% include 'inc/document.html' %}
            {% endfor %}
        {% elif query == '' %}
            <div class="col-12">
                <h4>К сожалению задан пустой поисковый запрос. Попробуйте снова.</h4>
            </div>
        {% elif not query %}
            <div class="col-12">
                <h4>К сожалению в системе ещё нет объектов.</h4>
            </div>
        {% else %}
            <div class="col-12">
                <h4>К сожалению, по запроcу "{{ query }}" ничего не найдено. Попробуйте снова.</h4>
            </div>
        {% endif %}
        </div>
    </div>

    <div class="container bott">
        <div class="row">
        </div>
    </div>
{% endblock %}