{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

    <div class="container input-group search">
        <input type="text" class="form-control" placeholder="Введите название файла" aria-label="Введите название файла" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button">Искать</button>
        </div>
    </div>

    <div class="container bott">
        <div class="row">
        {% if object_list %}
            <div class="col-12">
                <h4>Результаты поиска по разпросу "{{ query }}":</h4>
            </div>
            {% for object in object_list %}
                {% include 'inc/document.html' %}
            {% endfor %}
        {% else %}
            <div class="col-12">
                <h4>К сожалению, по запроу "{{ query }}" ничего не найдено. Попробуйте снова.</h4>
            </div>
        {% endif %}
        </div>
    </div>

    <div class="container bott">
        <div class="row">
        </div>
    </div>
{% endblock %}