<div class="container input-group search">
    <form action="{{ request.get_full_path }}" id="typeChoiceForm" method="get">
        <div style="display: inline-block">
        <label class="control-label col-xs-3" for="typeChoice">Тип файла</label>
        <select name="typeFilter" class="custom-select" id="typeChoice">
            <option value="">Любой тип</option>
            {% for type in type_choices %}
            <option value="{{ type.id }}"{% if current == type.id %} selected{% endif %}>{{ type.title }}</option>
            {% endfor %}
        </select>
        </div>
        {% if block_choices %}
        <div style="display: inline-block">
        <label class="control-label col-xs-3" for="blockChoice">Учебный блок</label>
        <select name="blockFilter" class="custom-select" id="blockChoice">
            <option value="">Любой тип</option>
            {% for type in block_choices %}
            <option value="{{ type.id }}"{% if current_block == type.id %} selected{% endif %}>{{ type.title }}</option>
            {% endfor %}
        </select>
        </div>
        <div style="display: inline-block">
        <a class="btn btn-outline-warning favorites-add" onclick="$.get('{% url 'main:favorites-add-discipline' %}?disc_id=' + $('#blockChoice').val()); $('.disc' + $('#blockChoice').val()).map(updateEl)">Добавить блок в &star; </a>
        </div>

        {% endif %}
    </form>
</div>
<script>
  var addParam = function( url, key, value )
  {
    var url = new URL(url);

    // If your expected result is "http://foo.bar/?x=42&y=2"
    url.searchParams.set(key, value);

    return url.href;
  };

  $("#typeChoice").change(function(){
      window.location.href = addParam(window.location.href, 'typeFilter', $("#typeChoice").val())
  });
  $("#blockChoice").change(function(){
      window.location.href = addParam(window.location.href, 'blockFilter', $("#blockChoice").val())
  });

  var updateEl = function (i, parent) {
      parent = $(parent);
    var addEl = parent.children('.favorites-add');
    var removeEl = parent.children('.favorites-remove');
    addEl.hide();
    removeEl.show();
  }
</script>
